@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
} 

body {
    margin: 0; 
}

main {
    margin: 0;
    padding-top: -100px;
}

video {
    width: 100%;
  min-height: 500px;
  margin-top: -240px;
}

#logo-gis {
    width: 320px;
}

footer {
    background-color: #000000b3;
    padding-top: 54px;
    padding-bottom: 44px;
    padding-left: 71px;
    margin-top: 527px;
}

.texto_blanco {
  margin: 0;
    color: white;
    font-family: "Raleway"
;
}

#instagram {
    width: 25px;
    margin-left: 25px;
}

#linkedin {
    width: 25px;
    margin-left: 25px;
}

#logos-footer {
    padding-top: -20px;
    display:flex
}

.form_texto {
    color: #878786;
    font-family: "Raleway";
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.form_botones {
    color: #878786;
    font-family: "Raleway";
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.titulos {
    color: #757576;
    font-family: "Raleway";
    font-weight: 800;
    margin-left: 70px;
    margin-right: 40px;
    font-size: 80px;
}

.txt-p {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 23px;
    margin-left: 70px;
}

#img-nosotros {
    height: 800px;
    padding-left:100px;
    grid-column: 2;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.bkg {
background-color: #00000081!important;
}

.nav-tipo {
color: white !important;
}


@media screen and (max-width: 600px) {
    .formulario { width: 20%;
}
}

@media screen and (min-width: 200px) {
    .videobk { width: 200%;
}
}
@media screen and (min-width: 480px) {
    .videobk { width: 200%;
}
}

@media screen and (min-width: 1024px) {
    .videobk { width: 200%;
}
}

@media screen and (min-width: 1025px) {
    .videobk { width: 100%;
}
}

.body-nosotros {
    background-color:#adadad
}

.container-nosotros {
   display: flex;
}

.container-nosotros {
    display: grid;
    grid-template-rows: 800px;
    grid-template-columns: 1fr 2fr;
    margin-top: -50px;
 }

 .grid-item-nosotros1 {
    grid-column: 1;
    padding-right: 200px;
    padding-top: 170px;
 }

 @media screen and (min-width: 370px) {
    .img-nosotros {
        display:none
}
}

@media screen and (min-width: 1200px) {
    .container-nosotros {
        width: 20%;
}
}
